name: Auto Update Channels
on:
  workflow_dispatch: # للتشغيل اليدوي من زر Run
  schedule:
    - cron: '0 */30 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install requests
        run: pip install requests
      - name: Run The Beast
        # تأكد أن الاسم هنا مطابق لملفك في GitHub
        run: python the_beast.py 
      - name: Commit changes
        run: |
          git config --local user.name "GitHub Action"
          git config --local user.email "action@github.com"
          git add database.csv
          git commit -m "Update links and remove images" || exit 0
          git push
